body{
    text-align: center;
    background-color: hotpink;
    color: black;
    font-size: large;
}
#color {
    margin: 10px;
    border: 5px rebeccapurple solid;

}
#owl {
    border: 30px cyan solid;
}
